<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>Forum: 15-minute webboard showcase</h1>
<p>This is a demo of building a webboard in 15 minutes using Rails 3.</p>

<table class="forum">
  <tr>
    <th></th>
    <th>Post / Title</th>
    <th>Replies</th>
    <th>Last Post By</th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><div class="question">Q{</div></td>
    <td>      
      <%= link_to post do %>
        <strong><%= post.title %></strong>
      <% end %><br />
      <%= truncate strip_tags(post.body), :length => 80 %>
    </td>
    <td>Replies: <%= post.comments.count %></td>
    <td></td>
  </tr>
<% end %>
</table>

<p><%= link_to '+ Post New', new_post_path %></p>
