<p id="notice"><%= notice %></p>

<h2>Post: <%= @post.title %></h2>

<table class="post">
  <tr>
    <th colspan="2">
      <div class="time">
        Posted <%= time_ago_in_words @post.created_at.in_time_zone('Bangkok') %> ago
      </div>
      <div class="action">
        <%= link_to 'Edit', edit_post_path(@post) %> | 
        <%= link_to 'Destroy', @post, :confirm => 'Are you sure?', :method => :delete %>
      </div>
    </th>
  </tr>
  
  <tr>
    <td><div class="big_letter">?{</div></td>
    <td>
      <div class="post_body">
        <%= simple_format sanitize(@post.body) %>
      </div>
    </td>
  </tr>
  
<% @post.comments.each do |comment| %>
  <tr>
    <th colspan="2">
      <div class="time">
        Posted <%= time_ago_in_words comment.created_at.in_time_zone('Bangkok') %> ago
      </div>
    </th>
  </tr>
  
  <tr>
    <td><div class="big_letter">r{</div></td>
    <td>
      <div class="post_body">
        <%= simple_format sanitize(comment.body) %>
      </div>
    </td>
  </tr>
<% end %>

<%= form_for [@post, Comment.new] do |f| %>
  <tr>
    <th colspan="2"><div class="time"><%= Time.now.in_time_zone('Bangkok').strftime("%d/%m/%Y %H:%M") %></th>
  </tr>
  
  <tr>
    <td><div class="big_letter">r{</div></td>
    <td>
      <%= f.text_area :body, :size => "60x6" %><br />
      <%= f.submit "Submit" %>
    </td>
  </tr>
<% end %>

</table>
